		
		.osn {
				font-size: 16px;
				color: #00688B;
			  }	
		.headr{
				float: left;
				padding:28px 15px 5px;
				border-radius: 90px;
				}
		.zagolovok {font-size: 25px;
					font-family: 'Times New Roman', Times, bold italic; 
					font-style: italic;
			 		color: blue}
							
		.pidz  {
				font-family: 'Times New Roman', Times, serif; 
				font-weight: bolder;
				font-size: 14px;
				font-style: normal;}

		.menu {
				text-align: left;
				text-transform:uppercase;
				margin: 1;
				padding: 1;
				list-style: none}
		.menu li{
				display: inline-block;
				font-stretch: extra-expanded;
				margin: 8px;
				font-weight: bold;
  				font-size: 100%;
				white-space: nowrap;}

		.pocatok { text-align: center;
				   font-size: 120%;
		 			}
		.div {
    			text-overflow: ellipsis;
    			overflow: hidden;
    			white-space: nowrap;
    			width: 200px;	}
		.myList { 
  				  list-style-type: square ;
   				 }
  
